.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.city {
  background-color: rgb(136, 90, 171);
  padding: 0.25rem;
  width: 60%;
  border-radius: .5rem;
  color: white;
}

.icon{

}

.temp{
    color: white;
}


